[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/aruhier/gnome-terminal-colors-solarized.git
[submodule "_emacs.d"]
	path = _emacs.d
	url = https://github.com/syl20bnr/spacemacs
